<p>@Html.ActionLink("Return Home", "Index", "Home")</p>
<p>@Html.ActionLink("List ALL Engineers and Machines", "List", "Home")</p>
<p>@Html.ActionLink("List Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("List Machines", "Index", "Machines")</p>